.filter_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.filter_card {
  background: #fff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  width: 235px;
  height: 50px;
}

.filter_icon {
  color: #1890ff;
  width: 13.898902893066406;
  height: 17.9868106842041;

}

.show_button {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.show_button:hover {
  background: black;  
  border:  solid black 2px;
  
}
.child2{
  display: flex;
  flex-direction: column;
}


@media (max-width: 768px) {
  .filterContainer {
    flex-direction: column;
    align-items: stretch;
    padding: 15px;
  }

  .filterCard {
    width: 100%;
    height: auto;
    padding: 12px;
  }

  .showButton {
    width: 100%;
    text-align: center;
  }
}
