.swipper_block {
  position: relative;
  width: 100%;
}

/* Swiper konteyner */
.swiper {
  width: 100%;
  height: auto; /* Dinamik balandlik */
  padding-bottom: 2rem;
}

/* Slayder slaydi */
.swiper-slide {
  text-align: center;
  font-size: 18px;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Rasm o'lchamlari */
.swiper-slide img {
  border-radius: 2rem;
 
  max-width: 40rem;
  
  object-fit: cover; /* Rasm nisbatlarini saqlash */
}

/* 📱 **Mobil uchun moslashuv (max-width: 768px)** */
@media (max-width: 768px) {
  .swiper {
      height: auto;
  }

  .swiper-slide img {
      max-width: 90%; /* Mobil ekranda rasm siqilib qolmaydi */
      height: 100%;
  }
}
